= simple_form_for(@poll) do |f|
	= render 'shared/error_messages', object: f.object
	= f.input :question
	= params
	%hr
	= @answer.to_s

	-f.fields_for :answer do |ff|
		= ff.input :text

	.answers
		-i = 0
		-@text_answers.each do |t|
			= f.input :text_answers, label: "#{i+1}.", input_html: {id: "answer_#{i}", name: "text_answers[#{i}]", value: t}
			-i = i + 1

	= f.association :charity, label: "Default Charity"

	= f.button :button