= simple_form_for(@poll) do |f|
	= render 'shared/error_messages', object: f.object
	= f.input :question
	.options
		-i = 0
		-@text_options.each do |t|
			= f.input :text_options, label: "#{i+1}.", input_html: {id: "option_#{i}", name: "text_options[#{i}]", value: t}
			-i = i + 1

	= f.association :charity, label: "Default Charity"

	= f.button :button